<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTP_DLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FTP_DLL.Properties.Settings>
            <setting name="TargetFtpSource" serializeAs="String">
                <value>FTP Secure Server URL</value>
            </setting>
            <setting name="TargetFtpSecureUser" serializeAs="String">
                <value>Login</value>
            </setting>
            <setting name="TargetFtpSecurePass" serializeAs="String">
                <value>Pass</value>
            </setting>
        </FTP_DLL.Properties.Settings>
    </applicationSettings>
</configuration>